{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Login{% endblock %}

{% block main %}

<form class="center little-form" method="post">

    {% if error %}
        <div>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <h1>Connexion à Sortir.com</h1>

    <div>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
    </div>

    <div>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" required>
    </div>

    {# Remember Me #}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div>
        <label>
            <input type="checkbox" name="_remember_me" checked> Se souvenir de moi
        </label>
    </div>
    {# Fin remember me #}

    <button class="btn btn-secondary custom-button">
        Sign in
    </button>

</form>

    {% if app.user %}
        <div class="center">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

{% endblock %}
