{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Login{% endblock %}

{% block main %}

    <form method="post">
        <div class="container center label-over-input">
            <div class="row">
                {% if error %}
                    <div class="col-12">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <h1>
                    Connexion à Sortir.com
                </h1>

                <div class="col-12">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
                </div>
                <div class="col-12">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" required>
                </div>

                {# Remember Me #}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="col-2 col-lg-4"></div>
                <div class="col-8 col-lg-4">
                    <label>
                        <input type="checkbox" name="_remember_me" checked> Se souvenir de moi
                    </label>
                </div>
                <div class="col-2 col-lg-4"></div>
                {# Fin remember me #}

                <div class="col-3 col-lg-5"></div>
                <button class="btn btn-secondary col-6 col-lg-2">
                    Sign in
                </button>
                <div class="col-3 col-lg-5"></div>
            </div>
        </div>
    </form>

    {% if app.user %}
        <div class="center mt-4">
            <strong>
                Info :
            </strong>
            Tu es déjà connecté en tant que "{{ app.user.username }}", veux-tu te <a href="{{ path('app_logout') }}">déconnecter</a> ?
        </div>
    {% endif %}

{% endblock %}
