{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <h1>Profil de {{ participantSelect.pseudo }}</h1>
            <div class="col-12 col-lg-3">
                {% if participantSelect.urlAvatar %}
                    <img src="http://localhost/projetsortir/public/profil/small/{{ participantSelect.urlAvatar }}"
                         alt="Avatar du profil">
                {% else %}
                    <img src="http://localhost/projetsortir/public/img/defaultavatar200.png"
                         alt="Avatar par défaut">
                {% endif %}
            </div>
            <div id="detailParticipant" class="col-12 col-lg-9">
                <p>
                    <strong>
                        Email :
                    </strong>
                    {{ participantSelect.email }}
                </p>
                <p>
                    <strong>
                        Pseudo :
                    </strong>
                    {{ participantSelect.pseudo }}
                </p>
                <p>
                    <strong>
                        Prénom :
                    </strong>
                    {{ participantSelect.prenom }}
                </p>
                <p>
                    <strong>
                        Nom :
                    </strong>
                    {{ participantSelect.nom }}
                </p>
                {% if participantSelect.telephone %}
                    <p>
                        <strong>
                            Téléphone :
                        </strong>
                        {{ participantSelect.telephone }}
                    </p>
                {% endif %}
                <p>
                    <strong>
                        Campus : </strong>
                    {{ participantSelect.campus.nom }}
                </p>

                <a href="{{ path('main_home') }}" title="Retour à l'accueil">
                    <button class="btn btn-primary col-4 col-lg-2" style="margin-top:10px">
                        Retour
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}