{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Register{% endblock %}

{% block main %}

        <div class="container center">
            <p class="row">
                <h1>Nouveau participant</h1>

                {{ form_start(register)}}

                <div class="col-6">
                    {{ form_row(register.prenom) }}
                    {{ form_row(register.nom) }}
                    {{ form_row(register.pseudo) }}
                    {{ form_row(register.email) }}
                </div>

                <div class="col-6">
                    {{ form_row(register.telephone) }}
                    {{ form_row(register.campus) }}
                    {{ form_row(register.plainPassword) }}
                    {{ form_row(register.confirmPassword) }}
                </div>

                <div class="col-12">
                    <button>Ajouter ce participant</button>
                </div>

                {{ form_end(register)}}
            </p>
        </div>

{#    <div class="alert alert-danger" role="alert">{{ flashError }}</div>   #}

{% endblock %}