{% extends 'base.html.twig' %}

{% block title %} | Home{% endblock %}

    {% block main %}

        <div id="filtres_sorties" class="col-12">
            <div id="filtres_champs" class="col-4">
                <div id="filtre_campus">
                    {{ form_start(campus_form, {attr: {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(campus_form) }}
                    {{ form_end(campus_form) }}
                </div>

            </div>




        </div>

        <div id="barre_nav" class = "row justify-content-end">
            <div class="col-1">Villes</div>
            <div class="col-1">Campus</div>
            <div class="col-1">Accueil</div>
            <div class="col-1">Mon profil</div>
            <div class="col-2">Se connecter</div>
        </div>
        <div id="filtres"></div>
        <div id="liste_sorties">
        <table id="tab_sorties" class="col-12">
            <thead>
                <tr>
                    <th class="col-3">Nom de la sortie</th>
                    <th class="col-1">Date de la sortie</th>
                    <th class="col-1">Clôture</th>
                    <th class="col-1">inscrits/places</th>
                    <th class="col-1">Etat</th>
                    <th class="col-1">Inscrit</th>
                    <th class="col-2">Organisateur</th>
                    <th class="col-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for sortie in sorties %}

                    <td class="col-3">{{ sortie.nom }}</td>
                    <td class="col-1">{{ sortie.dateHeureDebut|date('Y-m-d') }}</td>
                    <td class="col-1">{{ sortie.dateLimiteInscription|date('Y-m-d') }}</td>
                    <td class="col-1">{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</td>
                    <td class="col-1">{{ sortie.etat.libelle }}</td>
                    <td class="col-1">...</td>
                    <td class="col-2">{{ sortie.organisateur.pseudo }}</td>
                    <td class="col-2">...</td>
                </tr>
            </tbody>
            {%  endfor %}
        </table>
        </div>
    {% endblock%}