{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | S'inscrire
{% endblock %}

{% block main %}
    <div class="container center">
    <div class="row">
        <div class="col-4"></div>
        <div class="row col-4">
            <h1 class="col-12">
                {{ sortie.nom }}
            </h1>
            <div class="col-12 border border-dark">
                <h5>Infos :</h5>
                {{ sortie.infosSortie }}
            </div>
            <div class="col-12">
                ------------------------------------------
            </div>
            <strong class="col-12">
                Etat : {{ sortie.etat.libelle }}
            </strong>
            <div class="col-12">
                Date : {{ sortie.dateHeureDebut|date('j/m/Y à H:i') }}
            </div>
            <div class="col-12">
                {# Affichage en fonction de la durée #}
                {% set difference = date(sortie.duree).diff(date(sortie.dateHeureDebut)) %}
                {% set hours = difference.h %}
                {% set days = difference.days %}
                {% if days == 0 %}
                    Durée : {{ hours }} Heures
                {% else %}
                    Durée : {{ days }} Jours
                {% endif %}
            </div>
            <div class="col-12">
                Date limite pour s'inscrire : {{ sortie.dateLimiteInscription|date('j/m/Y à H:i') }}
            </div>
            <div class="col-12">
                Places restantes
                : {{ sortie.nbInscriptionsMax - sortie.participants|length }}{# - {{ sortie.participant.length ou un truc du genre }} #}
            </div>
            <div class="col-12">
                Lieu : {{ sortie.lieu.nom }}
            </div>
            <div class="col-12">
                Adresse : {{ sortie.lieu.rue }} à {{ sortie.lieu.ville.nom }} ({{ sortie.lieu.ville.codePostal }})
            </div>
            <div class="col-12">
                Organisé par : <a href="{{ path('participant_profilautrui', {'id': sortie.organisateur.id}) }}">
                    {{ sortie.organisateur.pseudo }}
                </a>
            </div>
            <div class="col-12">
                Pour le campus de : {{ sortie.campusOrganisateur.nom }}
            </div>
            <div class="col-12">
                ------------------------------------------
            </div>

            <div>
                {# Pour tout le monde appartenant au campus organisateur #}
                {% if (estInscrit == false) and (sortie.etat.id == 2) and (app.user.campus == sortie.campusOrganisateur) %}
                    <div class="col-4"></div>
                    <a href="{{ path('inscription_sortie',{id:sortie.id}) }}" class="btn btn-secondary col-4 mt-2">
                        S'inscrire
                    </a>
                    <div class="col-4"></div>
                {% elseif (estInscrit == true) %}
                    <div class="col-4"></div>
                    <a href="{{ path('desinscription_sortie',{id:sortie.id}) }}" class="btn btn-secondary col-4 mt-2">
                        Se désister
                    </a>
                    <div class="col-4"></div>
                {% endif %}

                {# Pour l'organisateur de la sortie #}
                {% if sortie.organisateur == app.user %}
                    {% if sortie.etat.id == 1 %}
                        <div class="col-1"></div>
                        <a href="{{ path('sorties_update', {'id': sortie.id}) }}" class="btn btn-secondary col-4">
                            Modifier
                        </a>
                        <div class="col-2"></div>
                        <a href="{{ path('sorties_suppr', {'id': sortie.id}) }}" class="btn btn-secondary col-4">
                            Supprimer
                        </a>
                        <div class="col-1"></div>
                    {% endif %}

                    {% if (sortie.etat.id) == 1 %}
                        <div class="col-4"></div>
                        <a href="{{ path('sorties_publish', {'id': sortie.id}) }}" class="btn btn-secondary col-4 mt-2">
                            Publier
                        </a>
                        <div class="col-4"></div>
                    {% elseif (sortie.etat.id == 2 or sortie.etat.id == 3) %}
                        <div class="col-4"></div>
                        <a href="{{ path('sorties_cancel', {'id': sortie.id}) }}" class="btn btn-secondary col-4 mt-2">
                            Annuler
                        </a>
                        <div class="col-4"></div>
                    {% elseif (sortie.etat.id == 6) %}
                        <div class="col-1"></div>
                        <a href="{{ path('sorties_recreate', {'id': sortie.id}) }}" class="btn btn-secondary col-4 mt-2">
                            Recréer
                        </a>
                        <div class="col-2"></div>
                        <a href="{{ path('sorties_suppr', {'id': sortie.id}) }}" class="btn btn-secondary col-4 mt-2">
                            Supprimer
                        </a>
                        <div class="col-1"></div>
                    {% endif %}
                    <div class="col-12">
                        ------------------------------------------
                    </div>
                {% endif %}
                <div class="col-12"></div>
                <div class="col-3"></div>
                <a href="{{ path('main_home')}}" class="btn btn-secondary col-6 mt-2">
                    Retour à l'accueil
                </a>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
{% endblock %}