{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | New Sortie !
{% endblock %}

{% block main %}

        <div class="container center label-over-input">

            <h1 style="margin-top: 30px">
                Créer une nouvelle sortie
            </h1>

            {{ form_start(newSortie) }}

            <div class="row">
                <div class="col-6">
                    {{ form_row(newSortie.nom) }}
                    {{ form_row(newSortie.dateHeureDebut) }}
                    {{ form_row(newSortie.infosSortie) }}
                </div>
                <div class="col-6">
                    {{ form_row(newSortie.dateLimiteInscription) }}
                    {{ form_row(newSortie.duree) }}
                    {{ form_row(newSortie.nbInscriptionsMax) }}
                    {{ form_row(newSortie.lieu) }}
                    <div>
                        Le lieu de ta sortie n'est pas dans la liste ?
                        <a class="btn btn-outline-secondary btn-sm" href="{{ path('lieu_new') }}">
                            Ajoute le !
                        </a>
                    </div>

                </div>
                <div class="col-6">
                    {{ form_row(newSortie.organisateur) }}
                </div>
                <div class="col-6">
                    {{ form_row(newSortie.campusOrganisateur) }}
                </div>

                <div class="col-5"></div>
                <div class="col-2">
                    <button class="btn btn-secondary">Créer une sortie</button>
                </div>
            </div>

            {{ form_end(newSortie) }}

        </div>

{% endblock %}
